{% extends 'base.html' %}
{% block content %}
<h1>Search Results</h1>
{% if routes %}
<table>
    <thead>
        <tr>
            <th>Departure Station</th>
            <th>Terminal Station</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for route in routes %}
        <tr>
            <td>{{ route.departure_station }}</td>
            <td>{{ route.terminal_station }}</td>
            <td>{{ route.departure_time }}</td>
            <td>{{ route.arrival_time }}</td>
            <td>
              <a href="{% url 'railway:pick_seat' route_id=route.route_id %}">Select Seat</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No routes found.</p>
{% endif %}
{% endblock %}
