{% extends 'base.html' %}

{% block content %}
<h1>Station List</h1>
{% if stations %}
<table>
    <thead>
        <tr>
            <th>Station Name</th>
            <th>City</th>
            <th>District</th>
            <th>Sub-District</th>
        </tr>
    </thead>
    <tbody>
        {% for station in stations %}
        <tr>
            <td>{{ station.station_name }}</td>
            <td>{{ station.city }}</td>
            <td>{{ station.district }}</td>
            <td>{{ station.sub_dist }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No stations found.</p>
{% endif %}
{% endblock %}
