{% extends 'base.html' %}

{% block content %}
<h2>Ticket Details</h2>
<div>
    <p><strong>Ticket ID:</strong> {{ reservation.ticket.id }}</p>
    <p><strong>Route:</strong> {{ reservation.route }}</p>
    <p><strong>Departure:</strong> {{ reservation.route.departure_station.station_name }} at {{ reservation.route.departure_time }}</p>
    <p><strong>Arrival:</strong> {{ reservation.route.terminal_station.station_name }} at {{ reservation.route.arrival_time }}</p>
    <p><strong>Passenger:</strong> {{ reservation.passenger }}</p>
    <p><strong>Seat Number:</strong> [Placeholder for seat number]</p> <!-- Assuming you have a way to track seats -->
</div>
{% endblock %}
