{% extends 'base.html' %}

{% block content %}
    <div class="search-route-page">
        <h1>Ticket Details</h1>
        <div>
            <p><strong>Ticket ID:</strong> {{ reservation.ticket.id }}</p>
            <p><strong>Route:</strong> {{ reservation.ticket.route }}</p>
            <p><strong>Departure:</strong> {{ reservation.from_station }}
                at {{ reservation.ticket.route.departure_time }}</p>
            <p><strong>Arrival:</strong> {{ reservation.to_station }}
                at {{ reservation.ticket.route.arrival_time }}</p>
            <p>
                <strong>Passenger:</strong> {{ reservation.passenger.firstname }}
            </p>
            <p><strong>Train:</strong> {{ reservation.ticket.route.train }}</p>
            <p><strong>Seat Number:</strong> {{ reservation.ticket.seat }}</p>
            <p><strong>Reservation ID:</strong> {{ reservation.id }}</p>

            <form action="{% url 'railway:cancel_reservation' reservation.id %}"
                  method="post">
                {% csrf_token %}
                <input type="submit" value="Cancel Reservation">
            </form>


        </div>
    </div>
{% endblock %}
