{% extends 'base.html' %}

{% block content %}
<h2>Your Tickets</h2>
<table>
    <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Route</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
    {% if tickets %}
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.route }}</td>
            <td>${{ ticket.price }}</td>
            <td>
                <a href="{% url 'railway:ticket_detail' ticket.id %}">View Details</a>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <td>No ticket</td>
    {% endif %}
    </tbody>
</table>
{% endblock %}
