{% extends 'base.html' %}

{% block content %}
    <div class="search-route-page">
<h1>Train List</h1>
    <div class="form-container">
<form method="get" action="">
    <div class="form-group">
        {{ search_form.as_p }}
    </div>

    <button class="btn-primary" type="submit">Search</button>
</form>
</div>
{% if trains %}
<table>
    <thead>
        <tr>
            <th>Train ID</th>
            <th>Train Type</th>
            <th>Manufacture Year</th>
        </tr>
    </thead>
    <tbody>
        {% for train in trains %}
        <tr>
            <td>{{ train.id }}</td>
            <td>{{ train.train_type_str }}</td>
            <td>{{ train.manufacture_year }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No trains found.</p>
{% endif %}
</div>
{% endblock %}
